body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #ff4081;
}

p {
  color: #555;
}

button {
  padding: 10px 20px;
  font-size: 30px;
  background-color: white ;
  color: black;
  border: none;
  border-radius: 60%;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 3px solid red;
}

button:hover {
  background-color: #e91e63;
  color:white;
}
